.form {
  display: flex;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
  border: 2px solid var(--secondary_color);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--secondary_color);
  padding: 15px 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

@media (max-width: 280px) {
  .sendButton {
    padding: 10px 15px;
    font-size: 0.7rem;
  }
}
