.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary_color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--primary_color);
  border-radius: 8px;
  height: 60%;
  width: 35%;
}

@media (min-width: 240px) and (max-width: 480px),
  (max-aspect-ratio: 3/4),
  (aspect-ratio: 16/9) {
  .outerContainer {
    border: 0;
  }

  .container {
    width: 100% !important;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
